[submodule "api/auth-service-api"]
	path = api/auth-service-api
	url = git@github.com:hypertino/auth-service-api.git
[submodule "api/user-service-api"]
	path = api/user-service-api
	url = git@github.com:hypertino/user-service-api.git
[submodule "api/hyperfacade-api"]
	path = api/hyperfacade-api
	url = git@github.com:hypertino/hyperfacade-api.git
[submodule "api/idempotency-service-api"]
	path = api/idempotency-service-api
	url = git@github.com:hypertino/idempotency-service-api.git
[submodule "travis"]
	path = travis
	url = git@github.com:hypertino/scala-travis-script.git
