language: scala

scala:
  - 2.11.11

sudo: false
script: $TRAVIS_BUILD_DIR/travis/script/build.sh

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2
  - $HOME/.ivy2
  - $HOME/.sbt

git:
  submodules: false
before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive

env:
  global:
  - secure: le9wrL5cf28sRblp5Y3HMW85lBW7PALrVqrQ+dsjrzTpugmzeVGOHEqWBhmrM9jUwAmCEtGqte5L9iC7k+BQ4oKtKRruEO9xRYotZbvPJdTx/z3u8gIyauS+wwIpL3EkJk2XtYxBjs8Hr0wvII8GV4uGXff5zRXwALueBp6RQbSI4sZmJh+P1KGtjtXti3P8hDruy1itTuDCBl1HALy8OxZ6NrNLgEO4SMyrCDCUObIeLaCZfTt30BEbnkMVEFxnn0Vr5uyR5++L1Zhkc1AioKCVMMAvdfUhqL9YtABX8iKCSAcd+iWhOCaV6Xh225WTKOwW4ZOQapAknui9zaIMV5bM/e9O03771jZMowoP1wEi/Rc2YOY+7jWHdG6k4Itp5JOiXMUqcEXG+6jIR7IQE8b4NbMifbQqxHrNPy5D4d+C9HsR/ubwn80PbkR2eF2jS7LN+ZYGXnpIZQCN1Ju7ztYNVJO+uc2rR7s2onpv57HFhOfqNlA6UuoDsNNA3B7vOigSFnY3RhwlN5sbT+U588eAy8Y5PK6eyIBVtuvMrm9k9JlZPq0RmzxvW5HYkhZ35xPU9m7vT4OO1yAAElFm93b6PGJJz4ErZpePdfd3mOUftXaKENwOTPCBM3EXvqVE8ZbwVryw29E1Mdy7oV8H+eKFiy9OfLdo/PDWCIm/9Hc=
  - secure: U1V1yXZCye6D5r+k5OelpksICMQB3p3bXUfnhRuL7Ud5EiWUi152y0y+8lN8jgtFzFYt1MDpxfk+9fP5JJ6Y0k42f4THpr56CTDE2ln4aPfX1HdLMkb4xhL0OXtZt6n4mMmyCsNWurzaWgnMZBoSg5ObOBQ3aHDX+ob8QVIYoDptXO/c3YQZGQeRvdAcZd9H2tCF+90U3xq7xbBWM2/XIeSKmkVTV9QhPpSK9FUjxKsA7P1bUI0+CxaIQ2+FxHH0l3tTej+H99gp4gwinMor9FVvzvQMPYraId5v+8l/zBVarMXHUT2OpUcOPSvT7Db6ZscHBCxRqjItKd7ZHxdOXAJf5EdiFkW4qaKUnxVme6JjHq73w+vLarI6t/Qv89fkpgNi7ud/i8VvEqBaWLtuJV4xE9OX4ebRwPSE9bek9el62Jr2QxjCQb20NWnXS8igHdawxWi39pUOf3QKlBpSi6XiDbFrKUu+EJfpZ1DG0Ie1niB1Kw+INcx6lqwpdkLEA3A9aUrV1pANqgL36m/Ql/rEQSrttjNLPFKwtrzpkZK+5kQVglgK6HU8cLcHjK/CLvYG1i3MMtKVaw7qEudzRYBIbfuDF1hN6uQ2pCksAH6x0UyDBpy0j5gRCbRIu1Xx8fm8vm59E7IwGW2nyZHD8Z90ZDs7Pi+PvorFmQ6LiE0=
  - secure: Km2cihu08uBJK9DycG6GBM1AwG5kQwcDEf8kaTTFjxC7BiQMC9YclV+7xytapIn4Khno58GIJs6eHvaLrDunfhvYLvKm0A7fqUpIR9xBLYGRGKCP/KPLNy1NWJVuKG7VvTspugZLkHpWHHZIt3ZrZPmqSAIKuYOc3kOiL9kUPPQG/04TtvBNIiNJGCMXhQ6gpcu2SoFhkKWdwpnK6Z7GcbHK/HhDPTmUSnP46l7Zxril8leXGhXrc2DXhazhwXMHz0Ncuni1bGagzPY2isCeX3sP9JhfS38N9ZPyKko9sXukt+OLoD45Its6I0RIIlLtbTLTU7o0XE0BmVgCm4axK6ubDWzYI19pVhsqtWADZIV2EoXUexL0W5xLyI1dV+bj4WeoWxxMFrvXV1FfZ3NxI0cqDluSe6HbrZP5/SN2KiVd5rQC/8gxhH/tKkBxfdjyhuLWtUZMtljdqrSagpf6XANFUSf1X51WPqGsfWloUqFe79iIT/yGOu5QJr8BXcmGNkOS5wrIohscMgEfnLTJ8XRrLQLFZificBVpZHFueto348j4O/+6iBc+Jq3m8f4Oj6PqF7dlDsknHAvwrwl4HLSG17Lj37UF51BMoRaJ7WePDfMaXtCBi5HoHwDr2XMrT9o062ANos+3qL1tt/IEiei7bRcHqS4zXVUgdN1A/jY=
  - secure: usLpuHyWvpat1fTPV2ziRob2jdthUwHtJdVDVcqUy+NO5++hGnyrfzlNnX16S3Ry6SZdT8FL9Z77x3aCKyBUCqGpVlxUMcW0lNOVsmwfj6fX1UsaX0a6ftbUsAQnJTMISBqL0ZFgzQbKkwSJtSylaGXt/0CQu2Z4GM+df3l0VwNEkdcEH0k5ZHGVXVhfLqG7fLdwW3IrmDxmF4otcIj4SzMrOXIyfwHy9yHh15Wol27KzA42M1HkmiIkEa+U6dPaRvL8RvEOIX9SW9B6Exts4Xv5JU1gWZ2xOL0DnJH0vD1421uo5Oos4h91COMMr5O7v80mm20u/EsxL32OmLM0bk1klTNlKRv8RJ6pUil1JMY28fWdSzqJgFfIjzLvRWYTHCWCOXYxvigJvKjKz9pDxvtH6Mt++h5uHsxOvLvgeIbkA3IpGOKXojXVxD1gyPB1fO+TsSJZCKCyjLxil5PMPN1oDne4cTge6LSmLanA3vmWQcpw/tXxb+/dn8lbOzABh2MuWFsh79yeXciSr47HR5kBXDJ7XYYGy293Z+phGaMYOHYdp0OiUePJJJvVN6KuHUxSh5dPZ8AZV4vfFMa0RxhKIQSJry0WZkGVaU1KFlQ24vYtXFRWp1wNgYVysQsgFLQDK+5XM6vTJ12DWESWYYwk4zLzNTQY5+9MTR33NzU=
